

<!DOCTYPE html>
<html>
<head>
	<title>The Stocks App</title>
</head>
<body>

  <div class="container">
	  <h1> Welcome to Stoxy</h1>
	  <h3> Search for a stock symbol or company to view price history</h3>

	<form class="form-inline" role="form">
	  <div class="form-group">
	    <label for="searchbox">Company or symbol:</label>
	    <input type="text" class="form-control">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>

	  <% @stocks.each do |stock| %>
	  <td>
	  
	  
	    <tr> <a href="#"> <%= stock.company %> </a></tr> <tr> <%= stock.symbol %> </tr>
	  <% end %>
	  </td>

  </div>
</body>


</html>