

<!DOCTYPE html>
<html>
<head>
	<title>The Stocks App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
	  <h1> Welcome to Stoxy</h1>
	  <h3> Search for a stock symbol or company to view price history</h3>

    <% if @stocks.count < 8 %>
			<% @stocks.each do |stock| %>
			  <div class="stock">
			    <h3 class="stocks-company"><%= link_to stock.company, stock %></h3>
			    <p class="stock-symbol"><%= stock.symbol %></p>
			  </div>
			<% end %>
		<% end %>
  </div>
</body>


</html>